<div id="blog" class="blog">
  <svg id="mon-6" class="mon-6" viewBox="0, 0, 240, 200">
    <polygon
      filter="url(#filter-mon)"
      fill="url(#gradient-mon-4)"
      points="0,200 200,200 100,20"
    />
  </svg>
  <svg id="mon-7" class="mon-7" viewBox="0, 0, 240, 200">
    <polygon
      filter="url(#filter-mon)"
      fill="url(#gradient-mon-4)"
      points="0,200 200,200 100,20"
    />
  </svg>
  <div class="blog-text">
    <div class="title">
      <p><%- text.blogTitle %></p>
      <div class="line"></div>
    </div>
    <div id="blogContent" class="blogContent"></div>
    <div>
      <a class="btn" href="<%- data.blogLink %>" target="_blank"
        ><%- text.blogLink %></a
      >
    </div>
  </div>
</div>
