<div id="nav" class="nav">
  <div class="title">
    <div class="content">
      <a id="toBack" href="javascript:;"><%- data.brand %></a>
    </div>
    <div id="navLine" class="line"></div>
  </div>
  <ul>
    <li>
      <a id="toBlog" href="javascript:;"><%- text.blog %></a>
    </li>
    <li>
      <a id="toProject" href="javascript:;"><%- text.project %></a>
    </li>
    <li>
      <a id="toAbout" href="javascript:;"><%- text.about %></a>
    </li>
  </ul>
</div>
